  <div class="custom-section">
  <h2>{{ section.settings.title }}</h2>
  {{ section.settings.content }}
</div>


{% schema %}
{
  "name": "Custom Section123",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Custom Section"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Section Content",
      "default": "<p>This is a custom section.</p>"
    }
  ],
  "presets": [
    {
      "name": "Custom Section",
      "category": "Custom",
      "settings": {
        "title": "Custom Section",
        "content": "<p>This is a custom section.<p>"
      }
    }
  ],
  "blocks": []
}
  
{% endschema %}

{% stylesheet %}
  
{% endstylesheet %}

{% javascript %}
{% endjavascript %}