<section id="custom-collection-section">
  <h2>{{ section.settings.title }}</h2>
  <ul>
    {% for collection in collections %}
      <li>
        {% assign title = collection.settings.custom_title | default: collection.title %}
        <h3>{{ title }}</h3>
        <img src="{{ collection.image }}" alt="{{ title }}">
      </li>
    {% endfor %}
  </ul>
</section>

{% schema %}
{
  "name": "Custom Collection Section",
  "settings": [
    
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "New Custom Section"
    },
    {
      "type": "collection",
      "id": "collections",
      "label": "Collections"

    }
  ]
}
{% endschema %}

